.header__container {
    position: relative;
    padding: 0 20px;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    column-gap: 60px;
  }

  @media screen and (max-width: 768px) {
    .header__container {
      column-gap: 50px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .header__container {
      flex-wrap: wrap;
      padding-top: 16px;
      row-gap: 16px;
    }
  }